@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

.hero {
  background-image: url(/images/hero2.jpg);
  background-size: cover;
  background-position: center bottom;
  filter: brightness(50%);
}